{% extends 'base.html' %}

{% block title %}Team{% endblock %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<br>
<br>
<div class="container"style="background-color:Gainsboro;">

    <div class="row">
  {% for p in team_list %}
    <div class="col-md-4">
    <h3>{{p.title}}</h3>
    <img src="{{p.image.url}}" width=250px>
    <p class="mt-3">Position: {{p.position}}</p>

      </div>
  {% endfor %}
      </div>

</div>
<footer class="bg-dark">

    <div class="row text-ceter text-md-left">

      <div class=" text-light col-md-5 col-lg-3  mx-auto mt-3">
        <div>
          <ul class="d-flex gap-5 list-unstyled">
            <li><a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="bi bi-facebook"></i></a></li>
            <li><a href="https://twitter.com/?lang=en"><i class="bi bi-twitter"></i></a></li>
            <li><a href="+72 8934 473"><i class="bi bi-telephone"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-fax"></i></a></li>
          </ul>
        </div>
        <h6>Our Chicken Poultry Farm</h6>

      </div>
    </div>

</footer>

{% endblock %}
